
    <h1>Welcome!</h1>
    <h5>To authorize yourself as a user via Auth0,
        enter your email and a password below.</h5>
    <h6>If you don't have an Auth0 account, one will be created.</h6>

<div>
    <form action="/login" method="post">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login/Register">
    </form>
</div>
